<!DOCTYPE html>
<html>
    <head>
        <title>Add New Asset</title>
    </head>
    <body>
        <form action="/savedetails" method="post">
            <table>
                <h2>Device Information</h2>
                <tr><td>Name</td><td><input type="text" name="deviceName"></td></tr>
                <tr><td>OS</td><td><input type="text" name="deviceOS"></td></tr>
                <tr><td>OS Build</td><td><input type="text" name="deviceOSBuild"></td></tr>
                <h2>Software Information</h2>
                <tr><td>Name</td><td><input type="text" name="softName"></td></tr>
                <tr><td>Vendor</td><td><input type="text" name="softVendor"></td></tr>
                <tr><td>Version</td><td><input type="text" name="softBuildVer"></td></tr>
            </table>
        </form>
    </body>
</html>